<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
    body {background-color:red }
    </style>
</head>
<body background="C:\Users\93709\Pictures\Saved Pictures\[0-9].jpg">
</style>>
        
    <h1> <a name="C4"></a> 我的第一个标题</h1>

    <p>我的第一个段落。</p>
    <a href="http://www.baidu.com">This is a link.</a>
    <a href="http://www.baidu.com"><img border="0" src="C:\Users\93709\Pictures\Saved Pictures\12.jpg" width = "300" height="120"/> </a>
    <p style="background-color:red;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:blue;font-size:20px;text-align:center">Futrue is Everything.</p>
    <p><b>下面演示地址:</b>
    <address>
        Visit us at <a href="mailto:937095464@qq.com">QQmail</a></br>
        九龙路111号</br>
    </address>
    <abbr title="ecsetera">etc..</abbr>
    <acronym title="hah">hih</acronym></br>
    <bdo dir="rtl">Here is a texting.</bdo>
    <var>E = m c <sup>2</sup></var></br>
    <a href="http://google.com" style="text-decoration:none">这是一个链接</a>/<br>
    <a href="#C4">Top</a>
    <img src="http://www.w3school.com.cn/i/w3school_logo_white.gif" />
    </p>
</body>

</html>
